@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.columns {
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}

.columns > * {
  flex-grow: 1;
}

/* MVP.css v1.8 - https://github.com/andybrewer/mvp */

:root {
  --active-brightness: 0.85;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px;
  --color: #0097fc;
  --color-accent: #0097fc4f;
  --color-bg: #191a33;
  --color-bg-secondary: #555;
  --color-link: #0097fc;
  --color-secondary: #e20de9;
  --color-secondary-accent: #e20de94f;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-table: #0097fc;
  --color-text: #f7f7f7;
  --color-text-secondary: #aaa;
  --font-family: 'Work Sans';
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #0097fc;
    --color-accent: #0097fc4f;
    --color-bg: #191a33;
    --color-bg-secondary: #555;
    --color-link: #0097fc;
    --color-secondary: #e20de9;
    --color-secondary-accent: #e20de94f;
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-table: #0097fc;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
  }
}

/* Layout */
article aside {
  background: var(--color-secondary-accent);
  border-left: 4px solid var(--color-secondary);
  padding: 0.01rem 0.8rem;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

footer,
header,
main {
  margin: 0 auto;
  max-width: var(--width-content);
  padding: 3rem 1rem;
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
}

section img,
article img {
  max-width: 100%;
}

section pre {
  overflow: auto;
}

section aside {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: var(--width-card);
}

section aside:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
  display: none;
}

/* Headers */
article header,
div header,
main header {
  padding-top: 0;
}

header {
  text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

header nav img {
  margin: 1rem 0;
}

section header {
  padding-top: 0;
  width: 100%;
}

/* Nav */
nav {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 7rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
  position: relative;
  text-align: left;
}

/* Nav Dropdown */
nav ul li:hover ul {
  display: block;
}

nav ul li ul {
  background: var(--color-bg);
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: none;
  height: auto;
  left: -2px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1.7rem;
  white-space: nowrap;
  width: auto;
  z-index: 1;
}

nav ul li ul::before {
  /* fill gap above to make mousing over them easier */
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  height: 0.5rem;
}

nav ul li ul li,
nav ul li ul li a {
  display: block;
}

/* Typography */
code,
samp {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
}

details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
}

mark {
  padding: 0.1rem;
}

ol li,
ul li {
  padding: 0.2rem 0;
}

p {
  margin: 0.75rem 0;
  padding: 0;
  width: 100%;
}

pre {
  margin: 1rem 0;
  max-width: var(--width-card-wide);
  padding: 1rem 0;
}

pre code,
pre samp {
  display: block;
  max-width: var(--width-card-wide);
  padding: 0.5rem 2rem;
  white-space: pre-wrap;
}

small {
  color: var(--color-text-secondary);
}

sup {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-size: xx-small;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

/* Links */
a {
  color: var(--color-link);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  filter: brightness(var(--active-brightness));
  text-decoration: underline;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

a b,
a em,
a i,
a strong,
button {
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: var(--line-height);
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

button.flat {
  background: none;
  border: none;
  color: var(--color-link);
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

button {
  font-family: var(--font-family);
}

button:active {
  filter: brightness(var(--active-brightness));
}

button:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
  background-color: var(--color-link);
  border: 2px solid var(--color-link);
  color: white;
}

a em,
a i {
  border: 2px solid var(--color-link);
  border-radius: var(--border-radius);
  color: var(--color-link);
  display: inline-block;
  padding: 1rem 2rem;
}

article aside a {
  color: var(--color-secondary);
}

/* Images */
figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  color: var(--color-text-secondary);
}

/* Forms */

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  margin: 2rem 0;
  text-align: var(--justify-normal);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

/* Tables */
table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;
  text-align: var(--justify-important);
}

table thead {
  background-color: var(--color-table);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

table tr:nth-child(even) {
  background-color: var(--color-accent);
}

/* Quotes */
blockquote {
  display: block;
  font-size: x-large;
  line-height: var(--line-height);
  margin: 1rem auto;
  max-width: var(--width-card-medium);
  padding: 1.5rem 1rem;
  text-align: var(--justify-important);
}

blockquote footer {
  color: var(--color-text-secondary);
  display: block;
  font-size: small;
  line-height: var(--line-height);
  padding: 1.5rem 0;
}

/* login reg btn */
.login_reg_btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  background-color: #08aff3;
}

.login_reg_btn span {
  font-weight: 300;
}

/* bg_btn */
.bg_btn {
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  height: 35px;
  padding: 4px 30px;
  font-weight: bold;
  background: linear-gradient(93.46deg, #2aabee 16.94%, #0ccfcf 97.24%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 3px 3px -1px rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}

.bg_btn > img {
  margin-right: 10px;
}

.bg_btn_deposit {
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  height: 55px;
  padding: 4px 30px;
  font-weight: bold;
  background: linear-gradient(
    93.59deg,
    rgba(9, 170, 245, 0.5) 4.26%,
    rgba(8, 207, 232, 0.5) 52.59%,
    rgba(98, 210, 173, 0.5) 102.98%
  );
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 3px 3px -1px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  width: 100%;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
}

.btn_loader {
  position: absolute;
}

.bg_err {
  background: #b66;
}

.zig_btn {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.zig_btn:hover {
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.3) inset, 0 0 8px 1px rgba(120, 255, 255, 0.4);
}

.zig_btn:active {
  transition: none;
  background-color: #087fcf;
  box-shadow: -2px -2px 4px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 1px rgba(255, 255, 255, 0.2) inset;
}

.zig_btn_sm {
  font-size: 12px;
  padding: 0 10px;
  width: auto;
  height: 27px;
}

.zig_btn_disabled {
  pointer-events: none;
  cursor: default;
}

.zig_disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
  background: rgba(98, 210, 173, 0.75);
  border: 2px solid #62d2ad;
}

.zig_btn_loading {
  opacity: 1;
  pointer-events: none;
  background: linear-gradient(to right, #447891, #4a7c85, #486a63);
}

.zig_btn_icon {
  font-size: 18px;
  margin-right: 6px;
}

.zig_modal {
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  /* backdrop-filter: blur(2px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.zig_modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.zig_modal.exit {
  opacity: 0;
}

.zig_modal_content {
  width: 500px;
  max-width: 90%;
  background-color: #232735;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  border-radius: 6px;
  color: #cedafb;
}

.zig_modal.enter-done .zig_modal_content {
  transform: translateY(0);
}

.zig_modal.exit .zig_modal_content {
  transform: translateY(-200px);
}

.zig_modal_header,
.zig_modal_body {
  padding: 15px;
}

.zig_modal_body {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 6px 6px;
  font-size: 0.8rem;
  max-height: 400px;
  overflow: auto;
}

.zig_modal_body::-webkit-scrollbar {
  width: 5px;
  position: relative;
  z-index: 20;
}

.zig_modal_body::-webkit-scrollbar-track {
  border-radius: 0px;
  background: hsla(0, 0%, 100%, 0.15);
  height: 23px;
}

.zig_modal_body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: hsla(0, 0%, 100%, 0.4);
}

.zig_modal_body::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}

.zig_modal_title {
  margin: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.pairs_searchbox input {
  padding: 0px 20px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(39, 44, 57);
  color: #fff;
  background-color: rgb(19, 23, 34);
  box-sizing: border-box;
}

.pairs_searchbox input::placeholder {
  color: #aeaebf;
}

.bridge_searchbox input {
  padding: 13px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.bridge_searchbox input::placeholder {
  color: #aeaebf;
}

.swap_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 48px);
  height: 100%;
  background-color: #1c2231;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}

.swap_incompatible {
  width: 100%;
  min-height: 200px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap_box_swap_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -62px;
  margin-bottom: 0;
  width: 100%;
  position: relative;
}

.swap_box_line {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.13);
  top: 50%;
  position: absolute;
  z-index: -1;
}

.swap_box_swap_wrapper h5 {
  margin-top: 15px;
  font-size: 15px;
  font-weight: normal;
}

.swap_section a {
  color: #1c4fa8;
  text-decoration: none;
}

.swap_coin_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.swap_box_bottom .swap_coin_title {
  margin-bottom: 0;
}

.swap_box_bottom .swap_coin_stats {
  margin-top: -15px;
  align-items: flex-end;
}

.swap_coin_stat:last-child {
  text-align: right;
}

.swap_coin_stat h5 {
  font-weight: normal;
  font-size: 12px;
}

.swap_section a:hover {
  color: #09aaf5;
}

.swap_head_tabs {
  display: inline-flex;
  flex-direction: row;
  margin: 20px 0;
}

.swap_head_tabs > a {
  display: block;
  transition: all 0.15s ease-in-out;
  text-transform: uppercase;
  padding: 9px 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.01);
  font-weight: 500;
  font-size: 13px;
  margin-left: -1px;
}

.swap_link {
  color: #fff;
  cursor: pointer;
}

.swap_link:hover {
  text-decoration: underline;
}

.swap_box_receipts {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swap_box_transactions {
  margin: 0 0 25px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.swap_box_receipt_head {
  padding: 26px 20px 12px;
}

.swap_box_transaction {
  padding: 15px 20px;
  cursor: pointer;
}

.swap_contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.swap_contain > *:not(:last-child) {
  margin-right: 12px;
}

.swap_box_transaction:hover {
  background: rgba(255, 255, 255, 0.05);
}

.swap_box_transaction:active {
  background: rgba(0, 0, 0, 0.3);
}

.swap_box_transaction_txId {
  font-size: 13px;
  margin-top: 8px;
}

.swap_box_transaction_txType_deposit,
.swap_box_transaction_txType_withdraw {
  background: #048;
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.swap_box_transaction_amount {
  font-weight: bold;
  color: #ddf;
}

.swap_box_transaction_txType_withdraw {
  background: #848;
}

.swap_head_tabs > a:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.swap_head_tabs > a:active,
.swap_head_tabs > a.swap_head_tab_active {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.swap_head_tabs > a:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 0;
}

.swap_head_tabs > a:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swap_connected_as {
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
}

.swap_disconnect {
  display: inline-block;
  font-size: 18px;
  line-height: 12px;
  margin-left: 6px;
}

.swap_disconnect > a {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  color: #69f;
}

.swap_disconnect > a:hover {
  color: #09aaf5;
}

.swap_bubble_connected,
.swap_bubble_disconnected {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #c00;
  display: inline-block;
  margin-right: 8px;
}

.swap_bubble_connected {
  background: #0c0;
}

.swap_container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.swap_box {
  width: 590px;
  max-width: 90%;
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 8px;
  color: #94a2c9;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.swap_box_bottom,
.swap_box_top {
  padding: 30px;
}

.swap_box_top {
  padding-bottom: 40px;
}

.swap_box_bottom {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.swap_transfer_fee {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgba(185, 205, 255, 0.3);
}

.swap_coin_name {
  font-size: 20px;
  color: #fff;
}

.swap_coin_title {
  margin-bottom: 8px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swap_coin_title h5 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
}

.swap_coin_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.swap_coin_details .swap_coin_image {
  margin-right: 8px;
}

.swap_coin_image img {
  max-width: 100%;
  height: 100%;
  border-radius: 32px;
}

.swap_coin_image {
  width: 32px;
  height: 32px;
  text-align: center;
  overflow: hidden;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  padding: 2px;
}

@font-face {
  font-family: 'Iceland';
  src: url('../assets/fonts/Iceland.woff2') format('woff2'),
    url('../assets/fonts/Iceland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
