.loading {
  position: absolute;
  left: 43%;
  top: 5px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  display: flex;
  cursor: default;
}

.spinner {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  border: 4px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.close {
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
